<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Part 8.1</title>
    <link rel="stylesheet" type="text/css" href="assets/style.css">
</head>
<body>
<div id="app">
    <product :premium="premiumUser"></product>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    Vue.component('product-details', {
        props:["details"],
        template: `
          <ul>
            <li v-for="detail in details">{{ detail }}</li>
          </ul>
        `,
    })

    Vue.component('product', {
        props:["premium"],
        template:`
        <div class="product">
            <div class="product-image">
                <img v-bind:src="image" :alt="description" :title="imgTitle" :href="url">
            </div>
            <div class="product-info">
                <h1>{{ title }}</h1>
                <p v-if="inStock">In Stock</p>
                <p v-else :class="{ outOfStock: !inStock  }">Out of Stock</p>
                <p>Shipping: {{ shipping }}</p>
                <product-details :details="newTemDetails"></product-details>

                <div v-for="(variant, index) in variants"
                     :key="variant.variantId"
                     class="color-box"
                     :style="{ backgroundColor : variant.variantColor }"
                     @mouseover="updateProduct(index)">
                </div>

                <button v-on:click="addToCart" :class="{ disabledButton: !inStock }" :disabled="!inStock">Add to Cart</button>
                <button v-on:click="removeFromCart">Remove from Cart</button>

                <div class="cart">
                    <p>Cart({{ cart }})</p>
                </div>

            </div>
        </div>
        `,
        data() {
            return {
                brand: 'Vue Mater',
                product: 'Ball',
                selectedIndex: 0,
                description: 'This is a image',
                imgTitle: 'Image',
                url: 'blog.nhasandev.com',
                inventory: 100,
                newTemDetails: ["80% cotton", "20% polyester", "Genre-Male"],
                cart: 0,
                variants: [
                    {
                        variantId: 2234,
                        variantColor: "green",
                        variantImage: "./img/vmSocks-green-onWhite.jpg",
                        variantQuantity: 10,
                    },
                    {
                        variantId: 2235,
                        variantColor: "blue",
                        variantImage: "./img/vmSocks-blue-onWhite.jpg",
                        variantQuantity: 0,
                    }
                ],
            }
        },
        methods: {
            addToCart: function () {
                this.cart += 1;
            },
            // ES6 methods ways function
            removeFromCart() {
                if(this.cart > 0)
                    this.cart -= 1;
            },
            updateProduct: function (index) {
                this.selectedIndex = index;
                console.log(index);
            }
        },
        computed: {
            title() {
                return this.brand + ' ' + this.product;
            },
            image() {
                return this.variants[this.selectedIndex].variantImage;
            },
            inStock() {
                return this.variants[this.selectedIndex].variantQuantity;
            },
            shipping() {
                if(this.premium) {
                    console.log(this.premium);
                    return "Free";
                }
                return 2.99;
            }
        }
    })
    let app = new Vue({
        el: '#app',
        data: {
            premiumUser: true,
        }
    });
</script>
</html>